<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYCFrameworkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>128AF0E31E17D46F00FA571D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128AF0FF1E17D46F00FA571D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128AF10A1E17D46F00FA571D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
